services:
  - type: web
    name: unique-tshirt-backend
    env: node
    plan: starter
    branch: main
    buildCommand: "npm install && npm run build"
    startCommand: "npm start"
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
      - key: FRONTEND_ORIGIN
        value: https://munaspori-collab.github.io/unique_tshirt_frontend
    healthCheckPath: /health
